<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>
        {% if breed %}
            The breed you endtered is {{breed}}. Please update in the below form.
        {% else %}
            Please enter your breed
        {% endif %}

    </p>
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.breed.label}} {{form.breed()}}
        {{form.submit()}}

    </form>
</body>
</html>